*~
tests/*.out
ast.cmo
ident.cmo
intern.cmo
lexer.cmo
parser.cmo
print.cmo
bin/compilator
src/*.cm*
src/*.o
*.exe
.merlin
test.liq
./why3/archetype.cmxs
why3/archetype.cmxs
archetypeLib.cmxa
archetypeLib.cma
archetypeLib.cmxs
archetypeLib.a
archetypeLib.ml-gen
_build
why3/archetype_plugin.cmxs
archetype.install
contracts/*.liq
contracts/*.ligo
contracts/*.py
contracts/*.mlw
contracts/*.ml
contracts/*.cm*
contracts/*.tz
contracts/*.md
attic/
.history
extra/script/internal_check_ligo.sh
_opam
