*~
tests/*.out
ast.cmo
ident.cmo
intern.cmo
lexer.cmo
parser.cmo
print.cmo
bin/compilator
src/*.cm*
src/*.o
*.exe
.merlin
test.liq
archetypeLib.cmxa
archetypeLib.cma
archetypeLib.cmxs
archetypeLib.a
archetypeLib.ml-gen
_build
archetype.install
contracts/*.liq
contracts/*.py
contracts/*.mlw
contracts/*.ml
contracts/*.cm*
contracts/*.tz
contracts/*.md
attic/
.history
_opam
tests/passed/test.arl
repo_contracts
npm-package/src/api.bc.js
.vscode/
node_modules
octez_client_man_v3
./npm-package/dist/api.bc.js
TODO.md
trace
