*~
tests/*.out
ast.cmo
ident.cmo
intern.cmo
lexer.cmo
parser.cmo
print.cmo
bin/compilator
src/*.cm*
src/*.o
*.exe
.merlin
test.liq
./why3/archetype.cmxs
why3/archetype.cmxs
syntax/archetype-language-extension/syntaxes/solidity.tmLanguage.json
syntax/archetype-language-extension/syntaxes/go.tmLanguage.json
