language: generic
dist: xenial

services:
  - docker

cache:
  directories:
  - $HOME/.opam

env:
  global:
  - OPAMJOBS="2"
  - OPAMYES="true"
  - OPAMVERBOSE="true"
  matrix:
  - OCAML_VERSION=4.07.0
  - OCAML_VERSION=4.07.1
  - OCAML_VERSION=4.08.0
  - OCAML_VERSION=4.08.1
  - OCAML_VERSION=4.09.0
  - OCAML_VERSION=4.09.1
  - OCAML_VERSION=4.10.0

before_install:
  # Obtain and install opam locally.
  - sudo add-apt-repository -y ppa:avsm/ppa
  - sudo apt-get -y update
  - sudo apt-get -y install opam ocaml-nox
  # Initialize the switch.
  - opam init -a --disable-sandboxing --compiler="${OCAML_VERSION}"
  - opam update
  - opam install depext
  - opam pin add -n archetype .
  - opam depext archetype
  - opam install --deps-only archetype
  - opam install why3.1.3.2
  - curl -o ligo.deb https://ligolang.org/deb/ligo.deb
  - sudo dpkg -i ligo.deb

script:
  - opam config exec make all
  - opam config exec make check

notifications:
  email:
    - guillaume.duhamel@edukera.com
    - benoit.rognier@edukera.com
    - pierre-yves@strub.nu
    - archetype-dev@edukera.com
